.popupOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #3a475066;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  @apply py-4;
}
.colSpan {
  @apply col-span-1 flex flex-row items-center gap-1;
}

.articlePopupContainer {
  @apply bg-[#ffffff] max-h-full flex w-[80vw] smp:w-[80vw] sm:w-[80vw]  flex-col p-1 items-center rounded-[0.625rem] text-center overflow-auto;
}
.articleDropGrid {
  @apply grid sml:grid-cols-1 grid-cols-2 gap-2 mt-2;
}

.toparticlePopupContainer {
  @apply flex flex-col w-full p-1;
}
.sampleLabel {
  @apply flex items-center text-[0.84rem] h-[3rem] w-[5.75rem] whitespace-nowrap;
  color: rgba(91, 91, 91, 1);
}

.topBarContainer h1 {
  @apply text-[#00ADB5] m-0 text-[1rem];
}

.basicInput {
  @apply border p-2 w-full rounded-[0.3125rem];
  height: 2.5rem;
}
.basicInput:focus {
  outline: none;
  border: 1px solid #00a5ad;
}
.searchBtn {
  @apply absolute top-1/2 right-0 w-[2.5rem] h-[90%] bg-[#eff3f4] cursor-pointer rounded-[0.3125rem] mr-[2.5px] ml-2 transition-all duration-300;
  background-image: url("../assets/search.svg");
  background-repeat: no-repeat;
  background-position: center;
  transform: translateY(-50%);
  background-size: 16px 16px;
  border: none;
}

.flexContainer {

  display: flex;
  gap:8px;
  justify-content: space-between;
  align-items: center;
}

.basicInput2 {
  @apply border w-full rounded-[0.3125rem] h-[2.5rem] bg-[#F7F7F7];
  padding: 4px 50px 9px 9px;
}

.basicInput2:focus {
  outline: none;
  border: 1px solid #00a5ad;
}
.inputWithIcon {
  @apply relative w-full inline-block;
}
.inputWithIcon-active {
  @apply bg-blue-600 text-white;
}

.crossIcon {
  @apply h-[1rem] w-[1rem] cursor-pointer;
  transition: transform 1s ease-in;
}
.sortButton {
  @apply float-right;
  background: none;
  border: none;
  cursor: pointer;
}
.crossIcon:hover {
  transform: rotate(90deg);
}
select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.selectInput {
  @apply border text-sm p-2 w-full rounded-[0.3125rem];
  height: 2.5rem;
  color: rgba(0, 0, 0, 0.66);
}
.selectInput:focus {
  outline: none;
  border: 1px solid #00a5ad;
}

.topBarContainer {
  @apply flex w-full justify-between ;
}
.selectWrapper {
  position: relative;
  display: inline-block;
  @apply w-full;
}
.paginationControls {
  @apply flex overflow-x-auto gap-2 px-3;
}

.icon {
  @apply m-0 p-0 h-[1.2rem] w-[1.2rem] mt-2;
}
.activePage {
  @apply rounded-[50%] bg-[#5B5B5B] p-2 text-sm text-white;
}
.parentPaginationControls {
  @apply flex justify-center items-center gap-2 mt-3 px-3 p-3 w-full;
}

.parentPaginationControls input {
  @apply border rounded-[0.4rem] p-1 h-8;
  border-color: rgba(58, 71, 80, 0.6);
}
.selectWrapper::after {
  content: url("../assets/dropDown.svg");
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  pointer-events: none;
}
.bottomarticlePopupContainer {
  @apply flex justify-center w-full mt-3;
}

.tablecontainer {
  @apply rounded w-full;
  border: 1px solid #eeeeeeb0;
  overflow-x: auto;
  scroll-behavior: smooth;
}

.table {
  @apply rounded;
  width: 100%;
  border-collapse: collapse;
}

.table td,
.table th {
  @apply py-[1.4px] text-left px-2 whitespace-nowrap text-sm;
  color: rgba(91, 91, 91, 1);
  height: 1rem;
  border: 2px solid rgba(238, 238, 238, 0.8);
}

tr{
  @apply cursor-pointer;
}
.tablecontainer::-webkit-scrollbar {
  display: block;
  height: 0.4rem;
}
.tablecontainer::-webkit-scrollbar-track {
  margin: 2px 0;
  background: transparent;
  border-radius: 2px;
}

.tablecontainer::-webkit-scrollbar-thumb {
  margin: 2px 0;
  background: rgba(58, 71, 80, 0.6);
  border-radius: 2px;
}

.tablecontainer::-webkit-scrollbar-thumb:hover {
  background: rgba(58, 71, 80, 1);
}
.articlePopupButton {
  @apply flex bg-[#001314] items-center justify-center py-1 sm:px-1 whitespace-nowrap px-2 w-fit m-0 text-white font-thin rounded-[0.4375rem] text-[0.9rem] sm:text-[0.8rem] sm:h-[2rem] sm:w-[7rem];
}

.articleSelectPopupButton {
  @apply flex items-center bg-[#00A5AD] justify-center py-1 sm:px-1 whitespace-nowrap px-2 w-fit m-0 text-white rounded-[0.4375rem] text-[0.9rem] sm:text-[0.8rem] sm:h-[2rem] sm:w-[7rem];
}
.bottomarticleButtonContainer {
  @apply flex sm:flex-col justify-end sm:justify-center items-center gap-2 w-full mt-1;
}
.articleSelectPopupButton:disabled{
  @apply cursor-not-allowed;
}

.articlePopupButton::after {
  @apply ml-2 sml:hidden;
  content: "+";
  color: white;
}

.bottomarticleButtonContainer h3 {
  @apply text-[0.8rem];
  color: rgba(91, 91, 91, 1);
}
.agThemeQuartz ::-webkit-scrollbar {
  display: block; /* or 'auto' */
  height:8px;
  width:4px;
}
.agThemeQuartz {
  /* bright green, 10% opacity */
  @apply text-left;
  --ag-selected-row-background-color: rgb(0, 255, 0, 0.1);
}

.agThemeQuartz ::-webkit-scrollbar-track {
  background: #f1f1f1; /* Track color */
}

.agThemeQuartz ::-webkit-scrollbar-thumb {
  background: #888; /* Thumb color */
}

.agThemeQuartz ::-webkit-scrollbar-thumb:hover {
  background: #555; /* Thumb hover color */
}