.articlePageContainer {
  @apply relative  px-4 pt-2 pb-5 w-full overflow-auto flex-grow;
  height: calc(100vh - 4rem);
}
.headContiner {
  @apply flex flex-col sm:gap-2;
}

.subHeadContainer {
  @apply flex items-center;
}
.subHeadContainerTwo h2 {
  @apply text-[0.875rem];
}
.headButton {
  @apply w-[9rem] h-[2rem] flex justify-center items-center text-[0.8rem] font-[700] p-[1.2rem] text-white 
  leading-4 bg-[#00A5AD] rounded-[0.3125rem];
}
.subHeadContainerThree {
  @apply flex sm:flex-col sm:gap-2 sm:items-center sm:justify-center justify-between items-end;
}
.headBorder {
  @apply border-t-[3px] my-1 rounded;
  stroke-width: 3px;
  stroke: rgba(58, 71, 80, 0.13);
}
.basicInput {
  @apply border p-2 w-full rounded-[0.3125rem];
  height: 2.5rem;
}
.sampleLabel {
  @apply relative text-[#5b5b5b]  flex items-center text-[0.84rem] h-[2.5rem];
  min-width: 5.6rem;
}

.headSmallBorder {
  @apply w-52 border-t-[3px]  mb-0 mt-3 rounded;
  stroke-width: 3px;
  stroke: rgba(58, 71, 80, 0.13);
}
.headText {
  @apply text-[#00ADB5] mt-3 text-[1.3rem] leading-4 font-[400] smp:text-[1rem];
}
.topGrid {
  @apply grid smp:grid-cols-1 sml:grid-cols-2 grid-cols-3 gap-2 mt-2;
}

.colSpan {
  @apply col-span-1 flex flex-row items-center gap-1;
}
.largeColSpan {
  @apply col-span-3 smp:col-span-1 sml:col-span-2 flex flex-row items-center gap-1;
}
.basicInput2 {
  @apply border p-2 w-full rounded-[0.3125rem];
  resize: none;
  height: 6rem;
}

select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.selectWrapper {
  position: relative;
  display: inline-block;
  @apply w-full;
}
.selectInput:focus {
  outline: none;
  border: 1px solid #00a5ad;
}
.selectInput {
  @apply border sml:text-sm p-2 w-full rounded-[0.3125rem];
  height: 2.5rem;
  color: rgba(0, 0, 0, 0.66);
}
.selectWrapper::after {
  content: url("../assets/dropDown.svg");
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  pointer-events: none;
}
.resetButton {
  @apply w-[8.3125vw]  h-[2.625vh] text-[1.125vw] sml:text-sm font-[700] p-[1.23rem] text-white 
  leading-4 bg-[#001314] flex items-center justify-center rounded-[0.3125rem] 
  sm:w-[5rem] sm:h-[1rem] sm:text-[0.8rem];
}
.submitButton {
  
  @apply w-[8.3125vw] h-[2.625vh] text-[1.125vw] sml:text-sm font-[700] p-[1.23rem] text-white 
  leading-4 bg-[#00A5AD] flex items-center justify-center rounded-[0.3125rem] 
  sm:w-[5rem] sm:h-[1rem] sm:text-[0.8rem];
}


.loader {
  @apply mr-14 mt-2 sm:mr-0;
  border: 7px solid #f3f3f3;
  border-top: 5px solid #3498db;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.buttonContainer {
  @apply flex gap-1 right-[1rem] ;
}
.parentButtonContainer {
  @apply flex mt-7 justify-end items-center sm:my-2 sm:mt-4 sm:ml-8 sm:justify-center;
}


.popupOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #3a475066;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popupContent {
  @apply bg-[#ffffff] flex flex-col justify-center items-center rounded-[0.625rem] h-[25vh] w-[20vw] sm:h-[10rem] sm:w-[10rem] text-center;
}
.popupContent h2 {
  @apply text-[#00ADB5] font-bold;
}

.popupButton {
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.2) 0%,
      rgba(0, 0, 0, 0.2) 100%
    ),
    var(--Color-2, #00adb5);

  @apply w-[8.375vw] mt-4 h-[5vh] text-white font-bold rounded-[0.4375rem] text-[1rem] sm:h-[2rem] sm:w-[4rem];
}
.basicInput:focus {
  outline: none;
  border: 1px solid #00a5ad;
}
.basicInput2:focus {
  outline: none;
  border: 1px solid #00a5ad;
}
.suggestions::-webkit-scrollbar {
  @apply h-1 block w-0;
}
.searchBtn {
  @apply absolute top-1/2 right-0 w-[2.5rem] h-[90%] bg-[#eff3f4] cursor-pointer rounded-[0.3125rem] mr-[2.5px] ml-2 transition-all duration-300;
  background-image: url("../assets/dropDown2.svg");
  background-repeat: no-repeat;
  background-position: center;
  transform: translateY(-50%);
  background-size: 16px 16px;
  border: none;
}


.searchBtn:hover {
  opacity: 0.8;
}

.suggestions::-webkit-scrollbar-track {
  @apply bg-gray-200;
}
.inputWithIcon {
  @apply relative w-full inline-block;
}
.inputWithIcon input{
@apply pr-[3rem];
}
.inputWithIcon-active {
  @apply bg-blue-600 text-white;
}
.suggestions::-webkit-scrollbar-thumb {
  @apply rounded-full bg-gray-500;
}


.suggestions {
  @apply absolute w-full rounded-b bg-white shadow-lg max-h-60 overflow-y-auto overflow-x-auto z-10;
}

.suggestionItem {
  @apply py-2 px-4 min-w-fit cursor-pointer transition duration-200 ease-in-out hover:bg-blue-100 hover:text-blue-600 truncate;
}
.highlighted {
  @apply py-2 px-4 min-w-fit cursor-pointer transition duration-200 ease-in-out bg-blue-100 text-blue-600 truncate;
}