.sampleRequestMainContainer {
  height: calc(100vh - 2.5rem);
  @apply px-4 pt-2 pb-5 w-full overflow-auto flex-grow;
}

.supplierContainer {
  height: calc(100vh - 2.5rem);
  @apply px-4 pt-2 pb-5 w-full overflow-auto flex-grow;
}
.buyerMainContainer {
  height: calc(100vh - 2.5rem);
  @apply px-4 pt-2 pb-5 w-full overflow-auto flex-grow;
}
.BOMContainer {
  height: calc(100vh - 2.5rem);
  @apply px-4 pt-2 pb-5 w-full overflow-auto flex-grow;
}
.itemQuotationContainer {
  height: calc(100vh - 2.5rem);
  @apply px-4 pt-2 pb-5 w-full overflow-auto flex-grow;
}
.samplePipelineContainer {
  height: calc(100vh - 2.5rem);
  @apply px-4 pt-2 pb-5 w-full overflow-auto flex-grow;
}
.articlePageContainer {
  @apply relative  px-4 pt-2 pb-5 w-full overflow-auto flex-grow;
  height: calc(100vh - 2.5rem);
}
.purchaseOrderContainer {
  height: calc(100vh - 2.5rem);

  @apply px-4 pt-2 pb-5 w-full overflow-auto flex-grow;
}
.itemPageContainer {
  @apply relative  px-4 pt-2 pb-5 w-full overflow-auto flex-grow;
  height: calc(100vh - 2.5rem);
}
.subHeadContainer {
  @apply flex justify-between  items-center mt-2 mb-[16px] sml:flex-col sml:gap-4;
}

.simpleSubHeadContainer {
  @apply flex items-center mt-2;
}
.BOMheadContainer {
  @apply flex justify-between items-center mt-1 sml:flex-col sml:gap-4;
}
.sampleRequestSubHeadContainer {
  @apply flex justify-between items-center mt-1 sml:flex-col sml:gap-4;
}
.BOMSubHeadContainer {
  @apply flex justify-between mb-2 items-center mt-1 sml:flex-col sml:gap-4;
}

.ibutton {
  @apply h-[30px] w-[30px] cursor-pointer sm:h-[24px] sm:w-[24px];
  transition: transform 0.3s ease-out;
}
.ibutton:hover {
  animation: shake 0.5s ease-in-out;
}
.dateInput {
  color: rgba(0, 0, 0, 0.66);
}
@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-2px);
  }
  50% {
    transform: translateX(2px);
  }
  75% {
    transform: translateX(-2px);
  }
  100% {
    transform: translateX(2px);
  }
}

.headInputContainer {
  @apply flex sm:flex-col items-center gap-2 sml:mb-4;
}
.inputLabel {
  @apply text-[0.84rem] text-[#5b5b5b] leading-4 font-[400];
}
.headInput {
  @apply border border-solid bg-[#F7F7F7] w-[9rem] h-[2rem] border-teal-400 rounded-[0.3125rem] px-2 py-1;
  padding: 4px 50px 9px 9px;
}
.subHeadContainer2 {
  @apply flex justify-between items-center mt-2 sml:flex-col sml:gap-4;
}
.editContainer {
  @apply flex gap-1;
}
.articleTopGrid {
  @apply grid smp:grid-cols-1 sml:grid-cols-2 grid-cols-4 gap-2 mt-2;
}
.itemTopGrid {
  @apply grid smp:grid-cols-1 sml:grid-cols-2 grid-cols-3 gap-2 mt-2;
}
.headButtonPrint {
  @apply w-[4rem] h-[2rem] flex justify-center items-center text-[0.8rem] font-[700] py-[0.2rem] text-white 
    leading-4 bg-[#001314] rounded-[0.3125rem];
}
.headButtonPrint:disabled {
  @apply cursor-not-allowed;
}
.submitButton:disabled {
  @apply cursor-not-allowed;
}
.headButton {
  @apply w-[4rem] h-[2rem] flex justify-center items-center text-[0.8rem] font-[700] py-[0.2rem] text-white 
    leading-4 bg-[#00A5AD] rounded-[0.3125rem];
}
.headButton:disabled {
  @apply cursor-not-allowed;
}
.headButton2 {
  @apply w-[6rem] h-[2.4rem] flex justify-center items-center text-[0.8rem] font-[700] py-[0.7rem] px-[0.3rem] text-white 
    leading-4 bg-[#00A5AD] rounded-[0.3125rem] m-0;
}
.headButton2:disabled {
  @apply cursor-not-allowed;
}
.sampleRequestheadText {
  @apply text-[#00ADB5] text-[1.3rem] mb-2 leading-4 font-[400] smp:text-[1rem];
}
.headText {
  @apply text-[#00ADB5] text-[1.3rem] leading-4 font-[400] smp:text-[1rem];
}
.headBorder {
  @apply border-t-[3px] rounded my-1;
  stroke-width: 3px;
  stroke: rgba(58, 71, 80, 0.13);
}
.subHeadContainerTwo h2 {
  @apply text-[0.875rem];
}

.subHeadContainerThree {
  @apply flex sm:flex-col sm:gap-2  sm:items-center sm:justify-center justify-between items-end;
}
.topButtons {
  @apply flex gap-[3.12rem];
}
.selectInput:focus {
  outline: none;
  border: 1px solid #00a5ad;
}

select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.selectWrapper {
  position: relative;
  display: inline-block;
  @apply w-full;
}

.selectWrapper::after {
  content: url("../assets/dropDown.svg");
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  pointer-events: none;
}
.largeColSpan {
  @apply col-span-3 smp:col-span-1 sml:col-span-2 flex flex-row items-center gap-1;
}
.selectInput {
  @apply border text-[0.84rem]  px-2 w-full rounded-[0.3125rem];
  height: 2rem;
  color: rgba(0, 0, 0, 0.66);
}
.basicInput {
  @apply border px-2 w-full text-[0.84rem] rounded-[0.3125rem];
  height: 2rem;
}
.buttonBasicInput {
  @apply border px-2 w-full pr-[50px] text-[0.84rem] rounded-[0.3125rem];
  height: 2rem;
}
.basicInput2 {
  @apply border w-full rounded-[0.3125rem] h-[2rem] text-[0.84rem] bg-[#F7F7F7];
  padding: 2px 50px 2px 9px;
}
.commentInput {
  @apply border p-2 w-full text-[0.84rem] rounded-[0.3125rem];
}
.headInsertValueButton {
  @apply w-[9rem] h-[2rem] flex justify-center items-center text-[0.8rem] font-[700] px-[0.5rem] py-1 text-white 
    leading-4 bg-[#00A5AD] rounded-[0.3125rem];
}
.commentInput:focus {
  outline: none;
  border: 1px solid #00a5ad;
}
.inputWithIcon {
  @apply relative w-full inline-block;
}

.inputWithIcon-active {
  @apply bg-blue-600 text-white;
}

.basicInput:focus {
  outline: none;
  border: 1px solid #00a5ad;
}
.buttonBasicInput:focus {
  outline: none;
  border: 1px solid #00a5ad;
}
.basicInput2:focus {
  outline: none;
  border: 1px solid #00a5ad;
}
.topGrid {
  @apply grid sm:grid-cols-1 sml:grid-cols-2 grid-cols-4  mt-2;
  grid-gap: 4px 10px;
}
.purchaseTopGrid {
  @apply grid sm:grid-cols-1 sml:grid-cols-2 grid-cols-5  mt-2;
  grid-gap: 4px 10px;
}
.middleGrid {
  @apply grid sm:grid-cols-1 sm:gap-5 sml:grid-cols-2 grid-cols-4  mt-2;
  grid-gap: 4px 10px;
}
.bottomGrid {
  @apply grid grid-cols-3 sm:grid-cols-1 sml:grid-cols-2  mt-2;
  grid-gap: 4px 10px;
}
.sampleRequestTopGrid {
  @apply grid sml:grid-cols-2 smp:grid-cols-1 grid-cols-4  mt-2;
  grid-gap: 4px 10px;
}
.sampleRequestMiddleGrid {
  @apply grid sm:grid-cols-1 sm:gap-5 smxl:grid-cols-3 sml:grid-cols-2 grid-cols-5  mt-2;
  grid-gap: 4px 10px;
}
.sampleRequestSecondMiddleGrid {
  @apply grid grid-cols-5 sm:grid-cols-1 sm:gap-5 smxl:grid-cols-3 sml:grid-cols-2  mt-2;
  grid-gap: 4px 10px;
}
.sampleRequestBottomGrid {
  @apply grid grid-cols-4 sm:grid-cols-1 sml:grid-cols-2  mt-2;
  grid-gap: 4px 10px;
}
.sampleRequestTopGrid.hide {
  @apply hidden;
}
.sampleRequestMiddleGrid.hide {
  @apply hidden;
}
.sampleRequestSecondMiddleGrid.hide {
  @apply hidden;
}
.sampleRequestBottomGrid.hide {
  @apply hidden;
}
.topGridPipline {
  @apply grid  sm:grid-cols-1 sml:grid-cols-2 grid-cols-3 gap-2 mt-2;
}

.sampleLabel {
  @apply relative text-[#5b5b5b]  flex items-center text-[0.84rem] h-[2.2rem];
  min-width: 5.6rem;
}
.impsampleLabel {
  @apply relative text-[#5b5b5b]  flex items-center text-[0.84rem] h-[2.2rem];
  min-width: 5.6rem;
}
.impsampleLabel::after {
  content: "*";
  color: #ff0000;
  position: absolute;
  top: 0;
  right: 0;
}
.fileinputcontainer {
  @apply flex items-center gap-4 h-[2.2rem];
}

.filelabel {
  @apply inline-block px-4 py-[4px] cursor-pointer bg-[#00A5AD] text-white rounded-[5px];
}
.srInput {
  @apply flex self-center w-[20px];
}
.filelabel input {
  display: none;
}
.middleContainer {
  @apply flex flex-col;
}
.middleContainerTop {
  @apply mt-2 flex items-center cursor-pointer w-fit;
}
.middleContainerBottom {
  @apply mt-2 flex items-center cursor-pointer  w-fit;
}
.middleContainerBottom span {
  @apply mr-2 text-[0.875rem];
}
.insideBottomContainer {
  @apply mt-2 flex items-center w-fit cursor-pointer;
}
.middleContainerTop span {
  @apply mr-2 text-[0.875rem];
}
.insideBottomContainer span {
  @apply mr-2 text-[0.875rem];
}
.bottomContainer {
  @apply relative flex flex-col;
}
.middleGrid.hide {
  @apply hidden;
}

.chervIcon {
  @apply w-4 h-4 transition-transform;
}
.chervIcon.chervRotate {
  @apply rotate-180;
}

.imagepreview img {
  @apply h-[27px] w-[83px] cursor-pointer rounded-[0.4rem];
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
.searchBtn {
  @apply absolute top-1/2 right-0 w-[2.5rem] h-[90%] bg-[#eff3f4] cursor-pointer rounded-[0.3125rem] mr-[2.5px] ml-2 transition-all duration-300;
  background-image: url("../assets/search.svg");
  background-repeat: no-repeat;
  background-position: center;
  transform: translateY(-50%);
  background-size: 16px 16px;
  border: none;
}
.dropBtn2 {
  @apply absolute top-1/2 right-11 w-[2.5rem] h-[90%] bg-[#eff3f4] cursor-pointer rounded-[0.3125rem] mr-[2.5px] ml-2 transition-all duration-300;
  background-image: url("../assets/dropDown2.svg");
  background-repeat: no-repeat;
  background-position: center;
  transform: translateY(-50%);
  background-size: 16px 16px;
  border: none;
}

.dropBtn2:hover {
  opacity: 0.8;
}
.dropBtn:hover {
  opacity: 0.9;
}

.dropBtn {
  @apply absolute top-1/2 right-0 w-[2.5rem] h-[90%] bg-[#eff3f4] cursor-pointer rounded-[0.3125rem] mr-[2.5px] ml-2 transition-all duration-300;
  background-image: url("../assets/dropDown2.svg");
  background-repeat: no-repeat;
  background-position: center;
  transform: translateY(-50%);
  background-size: 16px 16px;
  border: none;
}
.dropLoader {
  @apply absolute top-[7.4px] right-[3px] bg-slate-300 mr-[2.5px] ml-2;
  border: 3px solid #f3f3f3;
  border-top: 3px solid #3498db;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 1s linear infinite;
}

.searchBtn:hover {
  opacity: 0.8;
}
.colSpan {
  @apply col-span-1 flex flex-row items-center gap-1;
}
.colSpan2 {
  @apply col-span-2 sm:col-span-1 flex flex-row items-center gap-1;
}
.colSpan3 {
  @apply col-span-3 sm:col-span-1 sml:col-span-1 flex flex-row items-center gap-1;
}
.buttonColSpan {
  @apply col-span-1 flex flex-row items-center gap-1 justify-end sm:justify-center;
}
.imgColSpan {
  @apply col-span-1 ml-2 gap-3 flex justify-end sm:my-4 sml:my-4;
  grid-row: span 2;
}

.topContainer {
  @apply flex flex-col;
}
.screenChangeButton {
  position: relative;
}

.headInputWithIcon {
  position: relative;
  @apply w-[9rem] h-[2rem];
}
.screenChangeButton::before {
  @apply rounded;
  content: "";
  position: absolute;
  bottom: -6px;
  left: 0;
  right: 0;
  height: 2px;
  background-color: #00adb5;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.screenChangeButton.active::before {
  opacity: 1;
}

.headSmallBorder {
  @apply w-52 border-t-[3px]  mb-0 mt-3 rounded;
  stroke-width: 3px;
  stroke: rgba(58, 71, 80, 0.13);
}
.resetButton {
  @apply w-[3.8rem]  h-[0.7rem] whitespace-nowrap text-[0.8rem] sml:text-sm font-[700] px-[1.23rem] py-[1rem] text-white 
      leading-4 bg-[#001314] flex items-center justify-center rounded-[0.3125rem] 
      sm:w-[5rem] sm:h-[1rem] sm:text-[0.8rem];
}
.submitButton {
  @apply w-[3.8rem] h-[0.7rem] text-[0.8rem] sml:text-sm font-[700] px-[1.23rem] py-[1rem] text-white 
      leading-4 bg-[#00A5AD] flex items-center justify-center rounded-[0.3125rem] 
      sm:w-[5rem] sm:h-[1rem] sm:text-[0.8rem];
}

.loader {
  @apply mr-14 mt-2 sm:mr-0;
  border: 7px solid #f3f3f3;
  border-top: 5px solid #3498db;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.buttonContainer {
  @apply flex gap-1 right-[1rem];
}
.parentButtonContainer {
  @apply flex mt-4 justify-end items-center sm:my-2 sm:mt-4 sm:ml-8 sm:justify-center;
}
.suggestions::-webkit-scrollbar {
  @apply h-1 block w-0;
}

.suggestions::-webkit-scrollbar-track {
  @apply bg-gray-200;
}

.suggestions::-webkit-scrollbar-thumb {
  @apply rounded-full bg-gray-500;
}

.highlighted {
  @apply py-2 px-4 min-w-fit cursor-pointer transition duration-200 ease-in-out bg-blue-100 text-blue-600 truncate;
}

.suggestions {
  @apply absolute w-full rounded-b bg-white shadow-lg max-h-60 overflow-y-auto overflow-x-auto z-10;
}

.suggestionItem {
  @apply py-2 px-4 min-w-fit cursor-pointer transition duration-200 ease-in-out hover:bg-blue-100 hover:text-blue-600 truncate;
}

.popupOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #3a475066;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
.crossIcon {
  @apply h-[1rem] w-[1rem] cursor-pointer;
  position: absolute;
  top: 10px;
  right: 10px;
  transition: transform 1s ease-in;
}

.crossIcon:hover {
  transform: rotate(90deg);
}
.imagePopupContent {
  @apply relative h-[55vh] w-[30vw] sm:h-[20rem] rounded-[0.625rem] sm:w-[20rem];
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.imagepreviewPopup {
  width: 100%;
  @apply rounded-[0.625rem];
  height: 100%;
  display: block;
  margin: auto;
  object-fit: fit;
}
.eyeIcon {
  @apply h-[1.3rem] w-[1.3rem];
}
.eyeButton {
  background: none;
  border: none;
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
}
.popupContent {
  @apply bg-[#ffffff] flex flex-col justify-center items-center rounded-[0.625rem] h-[25vh] w-[20vw] sm:h-[10rem] sm:w-[10rem] text-center;
}

.popupContent h2 {
  @apply text-[#00ADB5] smp:text-[0.8rem] sm:text-[0.8rem] font-bold;
}

.secondMiddleGrid {
  @apply grid grid-cols-4 sm:grid-cols-1 sml:grid-cols-2 gap-2 mt-2;
}
.secondMiddleGrid.hide {
  @apply hidden;
}
.bottomGrid.hide {
  @apply hidden;
}
.popupButtonPrint {
  @apply w-[8.375vw] bg-[#001314] mt-4 h-[5vh] text-white font-bold rounded-[0.4375rem] text-[1rem] sm:h-[2rem] sm:w-[4rem];
}
.popupButton {
  @apply w-[8.375vw] mt-4 h-[5vh] text-white font-bold rounded-[0.4375rem] text-[1rem] sm:h-[2rem] sm:w-[4rem];
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.2) 0%,
      rgba(0, 0, 0, 0.2) 100%
    ),
    var(--Color-2, #00adb5);
}

.loadAllButton {
  @apply w-[8.3125vw] h-[2.625vh] text-[1.125vw] sml:text-sm font-[700] p-[1.23rem] text-white 
      leading-4 bg-[#00A5AD] flex items-center justify-center rounded-[0.3125rem] 
      sm:w-[5rem] sm:h-[1rem] sm:text-[0.8rem];
}

.fileinputcontainer2 {
  @apply rounded-md flex justify-center;
  position: relative;
  display: flex;
  width: 70px;
  height: 70px;
  border: 2px dashed black;
  align-items: center;
  background-color: #ececec;
  color: white;
  overflow: hidden;
}

.filelabel2,
.imagepreview2 {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.filelabel2 {
  @apply text-[13px] flex flex-col cursor-pointer;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  line-height: 1;
  height: 100%;
  width: 100%;
  text-align: center;
  margin: 0;
  padding: 0;
  font-weight: bold;
  background-color: #ececec;
  color: black;
  position: relative;
}

.filelabel2 input[type="file"] {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}
.imagepreview2 img {
  max-width: 100%;
  max-height: 100%;
}
.imageInput {
}
.removeImageButton2 {
  @apply h-[1rem] w-[1rem] cursor-pointer;
  position: absolute;
  top: 2px;
  right: 2px;
  transition: transform 1s ease-in;
}

.removeImageButton2:hover {
  transform: rotate(90deg);
}

.uploadImagePlaceholder {
  @apply h-[1.3rem] w-[1.3rem] mb-1;
}
.blankImagePlaceholder {
  @apply h-[3rem] w-[3rem] mb-1;
}
.articleImageText {
  @apply text-[11px];
}
