.sampleRequestMainContainer {
  height: calc(100vh - 4rem);
  @apply px-4 pt-2 pb-5 w-full overflow-auto flex-grow;
}

.subHeadContainer {
  @apply flex justify-between  items-center mt-1 sml:flex-col sml:gap-4;
}
.subHeadContainerTwo h2 {
  @apply text-[0.875rem];
}
.headInputContainer {
  @apply flex items-center gap-2 sm:mb-2;
}
.inputWithIcon {
  @apply relative w-full inline-block;
}
element::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}

/* For Firefox */
element {
  scrollbar-width: none; /* Firefox 64+ */
  -ms-overflow-style: none;  /* Internet Explorer 11+ */
}

.suggestions::-webkit-scrollbar {
  @apply h-1 block w-0;
}

.suggestions::-webkit-scrollbar-track {
  @apply bg-gray-200;
}

.suggestions::-webkit-scrollbar-thumb {
  @apply rounded-full bg-gray-500;
}


.suggestions {
  @apply absolute w-full border  border-t-0 border-gray-300 rounded-b bg-white shadow-lg max-h-60 overflow-y-auto overflow-x-auto z-10;
}

.suggestionItem {
  @apply py-2 px-4 min-w-fit cursor-pointer transition duration-200 ease-in-out hover:bg-blue-100 hover:text-blue-600 truncate;
}

.inputWithIcon-active {
  @apply bg-blue-600 text-white;
}

.headInput {
  @apply border border-solid bg-[#F7F7F7] w-[25.875vw] sm:w-[9rem] h-[5vh] border-teal-400 rounded-[0.3125rem] px-2 py-1;
  padding: 4px 50px 9px 9px;
}

.inputLabel {
  @apply text-[0.875rem] text-[#5b5b5b] leading-4 font-[400];
}

.headBorder {
  @apply border-t-[3px] my-1 rounded;
  stroke-width: 3px;
  stroke: rgba(58, 71, 80, 0.13);
}
.topButtons {
  @apply flex gap-[3.12rem];
}

.screenChangeButton {
  position: relative;
}
.loader {
  @apply mr-14 mt-2 sm:mr-0;
  border: 7px solid #f3f3f3;
  border-top: 5px solid #3498db;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.screenChangeButton::before {
  @apply rounded;
  content: "";
  position: absolute;
  bottom: -6px;
  left: 0;
  right: 0;
  height: 2px;
  background-color: #00adb5;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.screenChangeButton.active::before {
  opacity: 1;
}

.headSmallBorder {
  @apply w-52 border-t-[3px]  mb-0 mt-3 rounded;
  stroke-width: 3px;
  stroke: rgba(58, 71, 80, 0.13);
}
.headText {
  @apply text-[#00ADB5] text-[1.5625rem] leading-4 font-[400];
}
.topGrid {
  @apply grid sml:grid-cols-2 smp:grid-cols-1 grid-cols-3 gap-2 mt-2;
}

.colSpan {
  @apply col-span-1 flex flex-row items-center gap-1;
}
.buttonColSpan {
  @apply col-span-1 flex flex-row items-center gap-1 justify-end sm:justify-center;
}
.colSpan2 {
  @apply col-span-2 sm:col-span-1 flex flex-row items-center gap-1;
}
.imgColSpan {
  @apply col-span-1 smp:col-span-1 sml:col-span-2 flex flex-row items-center gap-1 sm:justify-center sml:justify-center sm:my-4 sml:my-4;
}
.colSpan3 {
  @apply col-span-3 sm:col-span-1 sml:col-span-1 flex flex-row items-center gap-1;
}

.basicInput {
  @apply border p-2 w-full rounded-[0.3125rem];
  height: 2.5rem;
}

.headInputWithIcon {
  position: relative;
  @apply w-[25.875vw] sm:w-[9rem] h-[5vh];
}
.basicInput2 {
  @apply border w-full rounded-[0.3125rem] h-[2.5rem] bg-[#F7F7F7];
  padding: 4px 50px 9px 9px;
}
.selectInput {
  @apply border sml:text-sm p-2 w-full rounded-[0.3125rem];
  height: 2.5rem;
  color: rgba(0, 0, 0, 0.66);
}
.searchBtn {
  @apply absolute top-1/2 right-0 w-[2.5rem] h-[90%] bg-[#eff3f4] cursor-pointer rounded-[0.3125rem] mr-[2.5px] ml-2 transition-all duration-300;
  background-image: url("../assets/search.svg");
  background-repeat: no-repeat;
  background-position: center;
  transform: translateY(-50%);
  background-size: 16px 16px;
  border: none;
}

.searchBtn:hover {
  opacity: 0.8;
}
.submitButton:disabled{
  @apply cursor-not-allowed;
}

.basicInput:focus {
  outline: none;
  border: 1px solid #00a5ad;
}
.selectInput:focus {
  outline: none;
  border: 1px solid #00a5ad;
}
.basicInput2:focus {
  outline: none;

  border: 1px solid #00a5ad;
}

.sampleLabel {
  @apply relative text-[#5b5b5b]  flex items-center text-[0.84rem] h-[2.5rem] ;
  min-width: 5.6rem;
}

.impsampleLabel {
  @apply relative text-[#5b5b5b] flex items-center text-[0.84rem] h-[2.5rem] ;
  min-width: 5.6rem;
}
.impsampleLabel::after {
  content: "*";
  color: #ff0000;
  position: absolute;
  top: 0;
  right: 0;
}
.topContainer {
  @apply flex flex-col;
}
.fileinputcontainer {
  @apply flex items-center gap-4 h-[2.5rem];
}

.filelabel {
  @apply inline-block px-4 py-2 cursor-pointer bg-[#00A5AD] text-white rounded-[5px];
}

.filelabel input {
  display: none;
}

.imagepreview img {
  @apply h-[40px] w-[83px] cursor-pointer rounded-[0.4rem];
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
.middleContainer {
  @apply flex flex-col;
}
.middleContainerTop {
  @apply mt-2 flex items-center cursor-pointer w-fit;
}
.middleContainerBottom {
  @apply mt-2 flex items-center cursor-pointer  w-fit;
}
.middleContainerBottom span {
  @apply mr-2 text-[0.875rem];
}
.insideBottomContainer {
  @apply mt-2 flex items-center w-fit cursor-pointer;
}
.middleContainerTop span {
  @apply mr-2 text-[0.875rem];
}
.insideBottomContainer span {
  @apply mr-2 text-[0.875rem];
}
.bottomContainer {
  @apply relative flex flex-col;
}
.middleGrid.hide {
  @apply hidden;
}

.chervIcon {
  @apply w-4 h-4 transition-transform;
}
.chervIcon.chervRotate {
  @apply rotate-180;
}

.middleGrid {
  @apply grid sm:grid-cols-1 sm:gap-5 sml:grid-cols-2 grid-cols-4 gap-2 mt-2;
}

select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.selectWrapper {
  position: relative;
  display: inline-block;
  @apply w-full;
}

.selectWrapper::after {
  content: url("../assets/dropDown.svg");
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  pointer-events: none;
}

.bottomGrid {
  @apply relative grid grid-cols-3 sm:grid-cols-1 sml:grid-cols-2 gap-2 mt-2;
}
.secondMiddleGrid {
  @apply grid grid-cols-4 sm:grid-cols-1 sml:grid-cols-2 gap-2 mt-2;
}
.secondMiddleGrid.hide {
  @apply hidden;
}
.bottomGrid.hide {
  @apply hidden;
}

.resetButton {
  @apply w-[8.3125vw]  h-[2.625vh] text-[1.125vw] sml:text-sm font-[700] p-[1.23rem] text-white 
  leading-4 bg-[#001314] flex items-center justify-center rounded-[0.3125rem] 
  sm:w-[5rem] sm:h-[1rem] sm:text-[0.8rem];
}
.submitButton {
  
  @apply w-[8.3125vw] h-[2.625vh] text-[1.125vw] sml:text-sm font-[700] p-[1.23rem] text-white 
  leading-4 bg-[#00A5AD] flex items-center justify-center rounded-[0.3125rem] 
  sm:w-[5rem] sm:h-[1rem] sm:text-[0.8rem];
}


.buttonContainer {
  @apply flex gap-1 right-[1rem] ;
}
.parentButtonContainer {
  @apply flex mt-4 justify-end items-center sm:my-2 sm:mt-4 sm:ml-8 sm:justify-center;
}

.crossIcon {
  @apply h-[1rem] w-[1rem] cursor-pointer;
  position: absolute;
  top: 10px;
  right: 10px;
  transition: transform 1s ease-in;
}

.crossIcon:hover {
  transform: rotate(90deg);
}
.popupOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #3a475066;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popupContent {
  @apply bg-[#ffffff] flex flex-col justify-center items-center rounded-[0.625rem] h-[25vh] w-[20vw] sm:h-[10rem] sm:w-[10rem] text-center;
}
.popupButton {
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.2) 0%,
      rgba(0, 0, 0, 0.2) 100%
    ),
    var(--Color-2, #00adb5);

  @apply w-[8.375vw] mt-4 h-[5vh] text-white font-bold rounded-[0.4375rem] text-[1rem] sm:h-[2rem] sm:w-[4rem];
}
.imagePopupContent {
  @apply relative h-[55vh] w-[50vw] sm:h-[20rem] rounded-[0.625rem] sm:w-[20rem];
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
  rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.imagepreviewPopup {
  width: 100%;
  @apply rounded-[0.625rem];
  height: 100%;
  display: block;
  margin: auto;
  object-fit: fit;
  
}
.popupContent h2 {
  @apply text-[#00ADB5] smp:text-[0.8rem] sm:text-[0.8rem] font-bold;
}

.dateInput {
  color: rgba(0, 0, 0, 0.66);
}
