.supplierContainer {
  height: calc(100vh - 4rem);

  @apply px-4 pt-2 pb-5 w-full overflow-auto flex-grow;
}

.subHeadContainer {
  @apply flex justify-between  items-center mt-[1rem] sml:flex-col sml:gap-4;
}
.headText {
  @apply text-[#00ADB5] text-[1.5625rem] leading-4 font-[400];
}

.headBorder {
  @apply border-t-[3px] rounded my-1;
  stroke-width: 3px;
  stroke: rgba(58, 71, 80, 0.13);
}
.subHeadContainerTwo h2 {
  @apply text-[0.875rem];
}
.subHeadContainerTwo {
  @apply mt-[1.5rem];
}
.topButtons {
  @apply flex gap-[3.12rem] ;
}

.screenChangeButton {
    position: relative; 
  }
  
  .screenChangeButton::before {
    @apply rounded;
    content: "";
    position: absolute;
    bottom: -6px; 
    left: 0;
    right: 0;
    height: 2px;
    background-color: #00ADB5; 
    opacity: 0; 
    transition: opacity 0.3s ease; 
  }
  
  
  .screenChangeButton.active::before {
    opacity: 1;
  }
  