@import url("https://fonts.googleapis.com/css2?family=Work+Sans&display=swap");

* {
  font-family: "Work Sans";
}

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
}

::-webkit-scrollbar {
  display: none;
}
.ag-header-cell-filtered {
  background-color: #CDF3E3 !important;
}
.ag-theme-quartz
{
  --ag-header-cell-hover-background-color: #CDF3E3;
  --ag-header-cell-moving-background-color: #CDF3E3;
}
.ag-header-cell-menu-button {
  opacity: 1 !important; 
}
@media only screen and (max-width: 695px) {
 
  .ag-theme-quartz .ag-paging-panel {
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .ag-theme-quartz .ag-paging-page-size {
    display: none; 
  }

  .ag-theme-quartz .ag-paging-button,
  .ag-theme-quartz .ag-paging-page-summary-panel {
    margin: 2px;
    min-width: 20px; 
    font-size: 12px; 
  }
}